<div class="section1">
  <div class="top__bar">
    <div class="logo__top"></div>

    <div class="menu">
      <div class="menu__item">Sesje Indywidualne</div>
      <div class="menu__item">Warsztaty</div>
      <div class="menu__item">O mnie</div>
      <div class="menu__item">Kontakt</div>
    </div>
  </div>

  <div class="title">
    Kochaj Siebie<br>
    by  Kochać<br>
    i Być Kochanym
  </div>

  <div class="subtitle">
    Warsztaty online
  </div>

  <div class="button">
    Zapisz się
  </div>

</div>

<div class="section2">
  <div class="points">
    <div class="points__item"><div class="heart"></div> Chcesz nauczyć się budować długie pozytywne relacje z kobietami?</div>
    <div class="points__item"><div class="heart"></div> Chcesz zrozumieć skąd biorą się Twoje problemy w relacjach?</div>
    <div class="points__item"><div class="heart"></div> Działasz odpychająco na kobiety i nie rozumiesz dlaczego?</div>
    <div class="points__item"><div class="heart"></div> Chcesz polepszyć swoje relacje z innymi ludźmi?</div>
    <div class="points__item"><div class="heart"></div> Chcesz poznać atrakcyjną i kochającą dziewczynę?</div>
  </div>
</div>