// ----- menu -----

/* menu */
// src menu hambureger: https://codepen.io/mutedblues/pen/MmPNPG
.top__bar .menu {
    clear: both;
    // max-height: 0;
    transition: 0.5s;
    
    display: flex;
    margin-right: 130px;
    margin-top: 31px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  /* menu icon */
  
  .top__bar .menu-icon {
    cursor: pointer;
    display: none;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    right: 20px;
    color: white;
  }
  
  .top__bar .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .top__bar .menu-icon .navicon:before,
  .top__bar .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .top__bar .menu-icon .navicon:before {
    top: 5px;
  }
  
  .top__bar .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .top__bar .menu-btn {
    display: none;
  }
  
  .top__bar .menu-btn:checked ~ .menu {
    //max-height: 240px;
    max-height: none;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
  }
  
  .top__bar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .top__bar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .top__bar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .top__bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .top__bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  

// ------ sections ----


.section1 {
    display: flex;
    flex-direction: column;
    background-image: url(/assets/img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    width:100%;
    height: 757px;
}

.top__bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo__top {
    background-image: url(/assets/img/logo.svg);
    width:143px;
    height: 115px;
    margin-left: 90px;
    margin-top: 15px;
}

// .menu {
//     display: flex;
//     margin-right: 130px;
//     margin-top: 31px;
//     color: white;
//     font-size: 15px;
//     text-transform: uppercase;
// }

.menu__item {
    margin-left: 45px;
    cursor: pointer;
}


.title {
    margin-left: 90px;
    margin-top: 114px;
    font-size: 70px;
    line-height: 75px;
    font-weight: 700;
    color: #FF8E25;    
}

.subtitle {
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 34px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

.button {
    background: #00A4AB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    align-self: flex-start;
    margin-left: 90px;
    padding: 21px 36px;
    font-size: 30px;
    line-height: 36px;
    color: white;
    text-transform: uppercase;;
}


/* -------------------- */
.section2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -50px;
}

.questions {
    width: 931px;
    // height: 388px;
    
    background: #FF8E25;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 75px;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-content: center;
    color: white;
}

.panel:after {
    content: "";
    top: 70px;
    left: 70px;
    position: relative;
    border-style: solid;
    border-color: #FF8E25 transparent transparent transparent;
    border-width: 70px 395px 0 395px;
}

.points {
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    margin-top: 50px;
}

.points__title {
    margin-top: 40px;
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    
}

.heart {
    display: inline-block;
    background-image: url(/assets/img/heart.svg);
    width: 20px;
    height: 20px;
    margin-right: 24px;
    flex-shrink: 0;
}

// --- Section 3 ---

.section3 {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.movieInner {
    height: 413px;
    width: 734px;
}

// --- Section 4 ---

.section4 {
    margin-top: 68px;
    padding-top: 150px;
    // padding-left: 100px;
    // padding-right: 100px;
    
    padding-bottom: 100px;
    background: #FFFBDA;
    display: flex;
    justify-content: center;
}

.section4__container {
    display: flex;
    flex-direction: column;
}

.about__container {
    display: flex;
    width: 1240px;
    justify-content: space-between;
}

.about__textLeft {
    display: flex;
    flex-direction: column;
    width: 568px;
}

.about__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 35px;
}

.about__left {
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

b.about__left {
    font-weight: 900;
}

.about__pic {
    width: 624px;
    // height: 493px;
    height: 468px;
    right: 107px;
    top: 1702px;
    
    background: url(/assets/img/me.jpg);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 75px;
}

.about__par {
    margin-top: 15px;
}

b.about__par {
    font-weight: 900;
}

.about__rest {
    width: 1240px;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

.about__icons {
    display: flex;
    justify-content: center;
    margin-top: 83px;
}

.about__yt {
    background: url(/assets/img/yt.svg);
    height: 48px;
    width: 48px;
}

.about__fb {
    background: url(/assets/img/fb.svg);
    height: 36px;
    width: 36px ;
    margin-left: 110px;
    margin-top: 6px;
}


// --- section 5 ---

.section5 {
    margin-top: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.workshopCardsList {
    display: flex;
    justify-content: space-between;
}

.workshop__title {
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
}

.workshop__desc {
    font-weight: normal;
    font-size: 20px;
    line-height: 80px;
}

.workshopCard {
    width: 260px;
    height: 351px;    
    background: #FF8E25;
    border-radius: 74px;
    font-weight: 200;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

.workshopCard__icon {    
    flex-basis: 100px;
    width: 100px;
}

.iconA {
    background: url(/assets/img/bigHeart.svg) no-repeat center;
}

.iconB {
    background: url(/assets/img/hand.svg) no-repeat center;
}

.iconC {
    background: url(/assets/img/handHeart.svg) no-repeat center;
}

.iconD {
    background: url(/assets/img/meditate.svg) no-repeat center;
}

.iconE {
    background: url(/assets/img/question.svg) no-repeat center;
}


.workshopCard__desc {
    flex-basis: 3;
}


// --- section 6 ---

.section6 {
    margin-top: 172px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy {
    width: 905px;
    height: 444px;

    background: #FFFFFF;
    border: 1px solid #00A4AB;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buy__title {
    width: 353px;
    height: 77px;
    left: 544px;
    top: 3543px;

    background: #00A4AB;
    color: #FFFFFF;
    border-radius: 24px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -37px;
}

.buy__infoLines {
    margin-top: 60px;
    font-weight: normal;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    font-feature-settings: 'salt' on;

}

.buy__info2 {
    margin-top: 30px;
}

.buy__info3 {
    font-weight: 900;
}


// --- Section 7 ---

.section7 {
    height: 1114px;
    background: #FF8E25;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section7__any_questions {
    padding-top: 400px;
    font-weight: bold;
    font-size: 50px;
    line-height: 40px;
    // text-align: center;
    color: #FFFFFF;
}

.section7__contact {
    font-weight: 200;
    font-size: 20px;
    line-height: 40px;
    // text-align: center;
    color: #FFFFFF;
}

.section7__icons {
    margin-top: 50px;
    display: flex;        
}

.section7__skype {
    background: url(/assets/img/msn.svg) no-repeat;
    width: 47px;
    height: 49px;
}

.section7__email {
    background: url(/assets/img/at.svg) no-repeat;
    width: 49px;
    height: 54px;
    margin-left: 40px;
}

.section7__more {
    margin-top: 235px;
    font-weight: 200;
    font-size: 20px;
    line-height: 40px;
    // text-align: center;
    color: #FFFFFF;
}

.section7__movies {
    margin-top: 15px;
    display: flex;

}

.section7__movie {
    margin-right: 10px;
    margin-left: 10px;
}


// --- section 8 ---

.sectionFooter {
    height: 137px;
    display: flex;
    justify-content: space-between;
}

.logo__footer {
    margin-top: 70px;
    background-image: url(/assets/img/logo.svg);
    background-size: contain;
    width: 85px;
    height: 68px;
    margin-left: 15px;
}

.sectionFooter__icons {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.sectionFooter__yt {
    background: url(/assets/img/yt.svg);
    height: 48px;
    width: 48px;
}

.sectionFooter__fb {
    background: url(/assets/img/fb.svg);
    height: 36px;
    width: 36px ;
    margin-left: 20px;
    margin-right: 35px;
    margin-top: 6px;
}




@media (max-width: 1439px) { 
    .title {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        margin-left: 30px;
        margin-top: 40px;
    }

    .top__bar .menu-icon {
        display: inline-block;
    }

    .top__bar  .logo__top {
        background-image: url(/assets/img/logo.svg);
        width:143px;
        height: 115px;
        margin-left: 0;
        margin-top: 0;
    }

    .top__bar .menu {
        clear: both;
        max-height: 0;
        flex-direction: column;

        margin-top: 51px;        
        position: fixed;
        width: 100%;
        background: rgba(0,0,0,0.4);
    }

    .top__bar .menu .menu__item {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
    }

    .top__bar .menu .menu__item:hover {
        background: rgba(50,50,50,0.4);
    }

    .panel {
        width: 90%;
    }

    .panel:after {
        border: none;        
    }

    .section3 {
        margin-top: 100px;
    }

    .questions {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
    }

    .points__item {
        display: flex;
        align-items: center;
        line-height: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .section4 {
        padding-top: 80px;
    }

    .section4__container { 
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }

    .section5 {
        margin-top: 100px;
    }

    .section6 {
        margin-top: 100px;
    }

    .about__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about__textLeft {
        width: 100%;
    }

    
    .about__pic {
        width: 90%;
        background-position: top;
        background-size: cover;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .about__rest {
        width: 100%;
    }

    .workshopCardsList {
        flex-direction: column;
    }

    .workshopCard {
        margin-bottom: 10px;
    }

    .workshop__desc {
        text-align: center;
        line-height: 40px;
        margin: 30px;
    }

    .workshop__title {
        line-height: 50px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
    }

    .buy {
        width: auto;
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 60px;
        margin-left: 30px;
        margin-right: 30px;
        
    }

    .section7 {
        height: auto;

    }

    .section7__movies {
        flex-direction: column;
    }

    .section7__movie {
        margin-bottom: 30px;
    }
}