<div class="section1">
  <div class="top__bar">
    <div class="logo__top"></div>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <div class="menu">
      <div class="menu__item">Sesje Indywidualne</div>
      <div class="menu__item">Warsztaty</div>
      <div class="menu__item">O mnie</div>
      <div class="menu__item">Kontakt</div>
    </div>
  </div>

  <div class="title">
    Kochaj Siebie<br>
    by  Kochać<br>
    i Być Kochanym
  </div>

  <div class="subtitle">
    Warsztaty online
  </div>

  <div class="button">
    Zapisz się
  </div>

</div>

<div class="section2">
  <div class="panel">
    <div class="questions">
      <div class="points">
        <div class="points__item"><div class="heart"></div> Chcesz nauczyć się budować długie pozytywne relacje z kobietami?</div>
        <div class="points__item"><div class="heart"></div> Chcesz zrozumieć skąd biorą się Twoje problemy w relacjach?</div>
        <div class="points__item"><div class="heart"></div> Działasz odpychająco na kobiety i nie rozumiesz dlaczego?</div>
        <div class="points__item"><div class="heart"></div> Chcesz polepszyć swoje relacje z innymi ludźmi?</div>
        <div class="points__item"><div class="heart"></div> Chcesz poznać atrakcyjną i kochającą dziewczynę?</div>
        <div class="points__title">Trafiłeś na rozwiązanie</div>
      </div>
    </div>
  </div>
</div>

<div class="section3">
  <div class="movieInner">            
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/T8AEbQrtuto" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="section4">
  <div class="section4__container">
  
    <div class="about__container">
      <div class="about__textLeft">
        <div class="about__title">Kim jestem i dlaczego potrafię Ci pomóc?</div>
        <div class="about__left">
          <div class="about__par">Jestem człowiekiem, który kiedyś miał bardzo poważne problemy w relacjach z kobietami - przez wiele lat nawet nie umiałem ich nawiązywać 
            - a kobiety przedstawione mi przez znajomych po bliższym pozaniu szybko <b>zaczynały omijać mnie szerokim łukiem</b>.</div>
          <div class="about__par">Nie wiedziałem co jest tego przyczyną - i długo (latami) szukałem odpowiedzi na pytanie: <b>"dlaczego mi nie idzie"</b>? </div>
          <div class="about__par">W końcu natrafiłem na pewne poszlaki, <b>okazało się, że cały problem zaczyna się już w domu rodzinnym, szkole</b> 
            - tam zostajemy źle ukształtowani - choć trafniej można powiedzieć że złamani - a z czasem nasze błędne nawyki myślowe się pogłębiają, co powoduje pogorszenie sytuacji.</div>
        </div>
      </div>
      <div class="about__pic"></div>
    </div>

    <div class="about__rest">
      <div class="about__par"><b>To powodowało że moje życie było głęboko niesatysfakcjonujące i powoli zaczynało przypominać horror.</b></div>
      <div class="about__par">Na szczęście natrafiłem na mądrych ludzi i <b>udało mi się zrozumieć zarówno przyczyny jak i
  przejść drogę wiodącą do rozwiązania tego problemu</b>. Problemu który okazuje się być dosyć
  złożony i nie dotyczy tylko niektórych jednostek, ale staje się powoli plagą społeczną
  przenoszoną z pokolenia na pokolenie.</div>
      <div class="about__par">Dzięki temu, że udało mi się uleczyć dawne rany i naprostować błędy opiekunów, moje życie
  całkowicie się zmieniło. Mam kochającą żonę i dziecko, mogę skupiać się na tworzeniu
  pozytywnych wartości i nie być hamowany przez dawne problemy. <b>Moje życie zyskało sens i
  zaczęło przynosić satysfakcję. Czego i Tobie życzę :)</b>
      </div>
    </div>

    <div class="about__icons">
      <a href="https://www.youtube.com/channel/UCxFgE06RvorRNZOo8Aq02Rg"><div class="about__yt"></div></a>
      <a href="https://www.facebook.com/groups/zdrowerelacje"><div class="about__fb"></div></a>
    </div>


  </div>
</div>

<div class="section5">
  <div class="workshop__title">Na warsztacie on line...</div>
  <div class="workshop__desc">Warsztat potrwa 6 tygodni. Otrzymasz dostęp tajnej grupy fb i nagrań, gdzie:</div>


  <div class="workshopCardsList">
    <div class="workshopCard">
      <div class="iconA workshopCard__icon"></div>
      <div class="workshopCard__desc">Nauczysz się czym właściwie jest miłość do siebie</div>
    </div>

    <div class="workshopCard">
      <div class="iconB workshopCard__icon"></div>
      <div class="workshopCard__desc">Poznasz czym są Twoje granice, jak je rozpoznawać i wyczuwać kiedy są naruszone</div>
    </div>

    <div class="workshopCard">
      <div class="iconC workshopCard__icon"></div>
      <div class="workshopCard__desc">Nauczysz się w jaki sposób okazywać sobie miłość i nie ulec samoułudzie</div>
    </div>

    <div class="workshopCard">
      <div class="iconD workshopCard__icon"></div>
      <div class="workshopCard__desc">Przetransformujesz swoje negatywne emocje skumulowane w podświadomości sabotujące Twoje działania</div>
    </div>

    <div class="workshopCard">
      <div class="iconE workshopCard__icon"></div>
      <div class="workshopCard__desc">Będziesz mógł zadawać pytania i dostaniesz wsparcie</div>
    </div>
  </div>
</div>

<div class="section6">

  <div class="buy">
    <div class="buy__title">Twoja inwestycja</div>
    <div class="buy__infoLines">
      <div class="buy__info">Płatność 350 PLN do startu warsztatów 30.11.2020r.</div>
      <div class="buy__info">(po tym terminie 550 PLN) na rachunek (santander)</div>
      <div class="buy__info">77 1090 1362 0000 0001 0456 7318</div>
      <div class="buy__info">Kamil Kiełczewski Poznań - z dopiskiem "warsztat online"</div>      
      <div class="buy__info2">Po dokonaniu wpłaty napisz do mnie</div>
      <div class="buy__info">na kamil.k.kielczewski@gmail.com lub na <a href="https://www.facebook.com/profile.php?id=100006361845380">fb</a></div>
    </div>
  </div>

</div>


<div class="section7">
  <div class="section7__any_questions">Masz pytania?</div>
  <div class="section7__contact">Skontaktuj się ze mną</div>
  <div class="section7__icons">
    <a href="https://join.skype.com/invite/f0vOWG2Kag9e"> <div class="section7__skype"></div> </a>
    <a href="mailto:kamil.k.kielczewski@gmail.com"> <div class="section7__email"></div> </a>
  </div>
  <div class="section7__more">Więcej filmów</div>

  <div class="section7__movies">
    <div class="section7__movie">
      <iframe width="436" height="221" src="https://www.youtube.com/embed/8V4alZNTiyc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="section7__movie">
      <iframe width="436" height="221" src="https://www.youtube.com/embed/sdyD4Jl_EF8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="section7__movie">
      <iframe width="436" height="221" src="https://www.youtube.com/embed/pKzGQvFMWbY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="sectionFooter">
  <div class="logo__footer"></div>

  <div class="sectionFooter__icons">
    <a href="https://www.youtube.com/channel/UCxFgE06RvorRNZOo8Aq02Rg"><div class="sectionFooter__yt"></div></a>
    <a href="https://www.facebook.com/groups/zdrowerelacje"><div class="sectionFooter__fb"></div></a>
  </div>
</div>